html, body {
  background-image: url(../img/background.png);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

img {
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}


#eaten {
  background-color: rgb(247, 247, 92);
  opacity: 0.85;
}

#uneaten {
  background-color: rgb(218, 82, 82);
  opacity: 0.9;
}

h5 {
  background-color:blue;
  opacity: 0.9;
  color: azure;
}

.btn {
  background-color: darkred;
  color: antiquewhite;
  border: none;
  border-radius: 12px;
}